.fullscreen {
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Asegura que use toda la altura de la pantalla */
  margin: 0; /* Elimina cualquier margen sobrante */
  padding: 0; /* Elimina cualquier padding sobrante */
  background-color: #fff; /* Fondo blanco */
}

.login-card {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center; /* Centra el texto dentro de la tarjeta */
}

.welcome-title {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y la imagen */
}

.profile-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.custom-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #f3f3f3;
}

.input-field {
  margin-bottom: 15px;
  width: 100%; /* Asegura que los inputs ocupen todo el ancho */
}

ion-item {
  --background: transparent;
  --border-color: transparent;
}

ion-input {
  font-size: 16px;
}

.login-button {
  margin-top: 20px;
  background-color: #d32f2f;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
  width: 100%; /* Asegura que el botón sea del mismo ancho que los inputs */
}

.login-button:hover {
  background-color: #b71c1c;
}

