

<ion-content class="login-content">
  <div class="logo-container">
    <img src="../../assets/hotel3.png" alt="Hotel Santillan" class="logo-image" />
  </div>

  <h2 class="tagline">"Tu comodidad, nuestra prioridad"</h2>

  <div class="button-container">
    <ion-button routerLink="/login" expand="block" class="login-button">INICIAR SESIÓN</ion-button>
    <p class="register-text">
      No tienes una cuenta? <span class="register-link" routerLink="/person">regístrate</span>
    </p>
  </div>
</ion-content>

