.profile-container {
    padding: 16px;
  }

  .profile-header {
    display: flex;
    align-items: center;
  }



  .footer-item {
    color: var(--ion-color-primary);
  }
  .title-container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 20px; /* Espacio entre la imagen y el título */
  }

  .icon {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: 60px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

